body{
    min-height: 100vh;
    background: rgb(252, 239, 223);
}


.custom-bg{
    /* background: linear-gradient(to right, #0066ff, #66ffff); */
    background: linear-gradient(to right, #b95135, #f3b258 );
}